<footer class="footer">
    <section class="footer__up">
        <div class="container">
            <div class="footer__up-position">
                <div class="footer__up-logo__block">
                    <a href="/" class="footer__up-logo">
                        <img src="img/logo.svg" alt="Логотип">
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>

<!-- Optional JavaScript -->
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/telegramform/js/telegramform.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="js/main.js" ></script>
<!--<script src="https://api-maps.yandex.ru/2.1/?apikey=aae97d85-eb01-44e4-bd38-fe0ceaef6c3c&lang=ru_RU" type="text/javascript"></script>-->
</body>
</html>