<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicone.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Фандоринь" />
    <meta name="keywords" content="Фандоринь">

    <!--fonts-->
    <link rel="stylesheet" href="fonts/circe/stylesheet.css">
    <link href="css/main.css" rel="stylesheet">

    <title>Фандоринь</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <a href="/" class="logo">
                    <img src="img/logo.svg" alt="Логотип">
                </a>
                <ul class="list">
                    <li class="item">
                        <a href="#main">Главная</a>
                    </li>
                    <li class="item">
                        <a href="#interior">Залы - интерьер</a>
                    </li>
                    <li class="item">
                        <a href="#about">О нас</a>
                    </li>
                    <li class="item">
                        <a href="#gallery">Фотогаллерея</a>
                    </li>
                    <li class="item">
                        <a href="#reviews">Отзывы</a>
                    </li>
                    <li class="item">
                        <a href="#contacts">Контакты</a>
                    </li>
                </ul>
                <div class="contact">
                    <a href="tel:+79999999999">+79999999999</a>
                </div>
            </div>
        </div>
    </header>
