<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicone.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="Фандоринь" />
    <meta name="keywords" content="Фандоринь">

    <link href="css/main.css" rel="stylesheet">

    <title>Фандоринь</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <a href="/" class="logo">
                    <img src="img/logo.svg" alt="Логотип">
                </a>
                <ul class="list menu-list">
                    <a class="menu__burger-tel" href="tel:+79204814883">8 (920) 481-48-83</a>
                    <li class="item menu-list__item">
                        <a href="#main">Главная</a>
                    </li>
                    <li class="item menu-list__item">
                        <a href="#interior">Залы</a>
                    </li>
                    <li class="item menu-list__item">
                        <a href="#about">О нас</a>
                    </li>
                    <li class="item menu-list__item">
                        <a href="#gallery">Фотогаллерея</a>
                    </li>
                    <li class="item menu-list__item">
                        <a href="#reviews">Отзывы</a>
                    </li>
                    <li class="item menu-list__item">
                        <a href="#contacts">Контакты</a>
                    </li>
                </ul>
                <div class="contact">
                    <a href="tel:+79204814883">8 (920) 481-48-83</a>
                    <button class="btn-default" data-toggle="modal" data-target="#callModal">
                        Заказать звонок
                    </button>
                </div>
                <div class="contact__mobile">
                    <a href="tel:+79204814883">
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.0188 21.9452C12.224 21.4011 9.66379 19.4332 7.41122 16.0955C2.62339 9.0021 5.402 4.70551 6.36611 3.55636C7.1269 2.65687 8.94591 2.59653 9.96557 2.63758C10.4005 2.6557 10.781 2.95403 10.9033 3.37553L12.1794 7.77175C12.3036 8.19605 12.1366 8.65448 11.7692 8.90221L9.36852 10.5206C9.51661 11.2055 10.1386 12.5795 10.8658 13.7666C11.6934 14.8833 12.7355 15.9761 13.317 16.3702L15.7167 14.7525C16.0851 14.5041 16.5713 14.5209 16.9206 14.7961L20.5211 17.6248C20.8639 17.8955 20.9978 18.3574 20.8513 18.7695C20.5097 19.7302 19.7712 21.3947 18.6526 21.7588C17.5317 22.1258 16.2761 22.1896 15.0188 21.9452Z" fill="#000"/>
                        </svg>
                    </a>
                </div>
                <button class="btn header__burger">
                    <i class="burger-menu__icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </i>
                </button>
            </div>
        </div>
    </header>
