
.header{
  padding: 32px 0;
  margin-bottom: 32px;
}

.header-wrapper {
  @include flex-vertical;
  justify-content: space-between;

  .logo {
  }

  .list {
    @include flex-vertical;
  }

  .item {

    a {
      @include font-sb;
      font-size: 16px;
      color: $main_color;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .contact {

    a {
      @include font-b;
      font-size: 20px;
      color: $Black;
    }
  }
}