
.main{
  &__description{
    &-position{
      display: flex;
      align-items: center;
      padding-top: 38px;
      padding-bottom: 40px;
    }

    &-caption{
      @include f_60_b;
      color: $Black;
      margin-bottom: 14px;

      & span{
        font-weight: 400;
      }
    }

    &-text{
      @include f_16;
      color: $Black;
      margin-bottom: 45px;

      & a{
        color: $primary;
      }

      &__block{
        width: 635px;
        margin-right: auto;
      }
    }

    &-btn{
      width: 245px;
      height: 70px;
      border-radius: 40px;
      @include f_20;
      font-weight: 500;
    }
  }

  &__podcast{
    padding-top: 93px;
    padding-bottom: 93px;

    & .main__caption{
      margin-bottom: 30px;
    }

    &-list{
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 60px;
    }

    &-item{

      width: 540px;
      position: relative;
      display: flex;
      align-items: center;
      background-color: $White;

      &__image{
        position: relative;
        width: 112px;
        height: 140px;

        &-date{
          padding-left: 6px;
          padding-right: 6px;
          padding-top: 3px;
          padding-bottom: 3px;
          background-color: #E6E8EC;
          position: absolute;
          bottom: 0;
          @include f_10;
          color: $Black;
          line-height: 9px;
        }
      }

      &__player{
        width: 100%;

        &-block{
          display: flex;
          align-items: center;
          padding-left: 30px;
          padding-right: 33px;
          padding-top: 20px;

          &-actions{
            display: flex;
            padding-left: 30px;
            padding-right: 33px;
            padding-top: 4px;
            margin-top: 20px;
            border-top: 1px solid #E6E8EC;

            & .actions__item{
              padding: 2px;
              background-color: unset;
              display: block;
              border-radius: 0;
              padding-bottom: 0;
              padding-top: 0;

              & svg{
                margin-right: 6px;
                fill: #A1A6B4;
                transition: fill .3s;
              }

              & span{
                @include f_16;
                line-height: 16px;
                transition: color .3s;
              }

              &:not(:last-child){
                margin-right: 30px;
              }

              &:hover{
                & svg {
                  fill: $primary;
                }

                & span{
                  color: $primary;
                }
              }

              &:focus{
                background-color: $primary_light;

                & svg {
                  fill: $White
                }

                & span{
                  color: $White;
                }
              }

              &:active{

                background-color: unset;

                & svg {
                  & path{
                    fill: $primary_shade;
                  }
                  fill: $primary_shade;
                }

                & span{
                  color: $primary_shade;
                }
              }


            }
          }
        }

        &-text{
          margin-right: auto;

          & p{
            @include f_12;
            line-height: 12px;
            margin-bottom: 8px;
          }

          & h3{
            @include f_20;
            color: $Black;
            line-height: 20px;
            margin-bottom: 4px;
          }

          & h4{
            @include f_14;
            margin-bottom: 0;
          }
        }

        &-btn{
          width: 42px;
          height: 42px;
          margin-bottom: 0;
          margin-left: auto;
          border: 2px solid #A1A6B4;
          border-radius: 100%;
          background-color: unset;

          & svg{
            position: relative;
            left: 2px;
            fill: #A1A6B4;
            transition: fill 0.5s;
          }

          &:hover{
            border-color: $primary;

            & svg{
              fill: $primary;
            }
          }

          &:focus{
            border-color: $primary_light;

            & svg{
              fill: $primary_light;
            }
          }

          &:active{
            border-color: $primary_shade;
            background-color: $primary_shade;

            & svg{
              fill: $White;
            }
          }
        }

      }

    }

    &-btn{
      display: block;
      width: 246px;
      height: 70px;
      border: 2px solid #6D31EE;
      border-radius: 40px;
      margin: 0 auto;
    }

  }
}

.contact__mobile {
  display: none;
}

.banner__slider-item {
  height: 600px;
  border-radius: 10px;
  position: relative;

  &.second {
    transform: scale(-1,1);

    .slider__content {
      transform: scale(-1,1);
      left: auto;
      right: 40px;
    }
  }
}

.slider__content {
  position: absolute;
  bottom: 80px;
  left: 40px;
}

.banner__slider-item__caption {
  color: $White;
}

.about {
  padding: 100px 0 100px;

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: $title-color;
    margin-bottom: 35px;
  }

  .btn {
    width: 100%;
    max-width: 200px;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid transparent;
  }
}

.about__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__content {

  .text {
    max-width: 90%;
    font-size: 21px;
    line-height: 32px;
  }

  .btn {
    max-width: 200px;
    height: 60px;
    font-size: 24px;
    border-radius: $radius;
    margin-top: 30px;
    transition: all .2s ease-in-out;
    width: 100%;
    border: 1px solid transparent;
  }
}

.section__gallery {
  padding: 100px 0 100px;
  background-color: $bg-color;

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: $title-color;
    margin-bottom: 35px;
  }
}

.gallery__grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.gallery__item {
  border-radius: 6px;
  max-width: 23.4%;
  width: 100%;
  cursor: pointer;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .8;
  }
}

.contacts {
  padding: 100px 0 196px;
  position: relative;

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: $title-color;
    margin-bottom: 35px;
  }

  .description {
    font-size: 19px;
    line-height: 24px;
  }

  .phone,.email,.address {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: $Black;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 12px;

    svg {
      width: 27px;
      height: 27px;
    }
  }
}

.contacts__grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contacts__socials {

  a {
    display: block;
  }
}

#map {
  width: 55%;
  height: 500px;
  position: absolute;
  right: 0;
}

.section__reviews {
  padding: 100px 0 100px;

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: $title-color;
    margin-bottom: 35px;
  }

  p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .btn {
    max-width: 200px;
    height: 60px;
    font-size: 24px;
    border-radius: $radius;
    margin-top: 30px;
    transition: all .2s ease-in-out;
    width: 100%;
    border: 1px solid transparent;
  }
}

.interior {
  padding: 100px 0 100px;
  background-color: $bg-color;

  .title {
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 35px;

    &.line {
      justify-content: center;

      .interior__item-image {
        width: 100%;
        max-width: 100%;

        .image {
          max-width: 24%;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &-content {
      max-width: 44%;
      width: 44%;

      ol {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 24px;

        li {

          &:not(:last-child) {
            margin-bottom: 7px;
          }
        }
      }

      ul {
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;

        li {
          list-style-type: disc;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

    &-image {
      width: 55%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;

      .image {
        max-width: 48.8%;
        width: 100%;
        border-radius: $radius;
        transition: opacity .2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.modal {

  .modal-title {
    font-size: 26px;
    line-height: 35px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .modal-dialog {
    width: 100%;
  }

  .contacts-input {
    border-radius: 10px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 16px;
    font-size: 16px;
    color: $Black;

    &::placeholder {
      font-size: 16px;
      color: $Black;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .modal-reviews {
    border-radius: 10px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 16px;
    padding-top: 5px;
    font-size: 16px;
    color: $Black;
    resize: none;

    &::placeholder {
      font-size: 16px;
      color: $Black;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .modal-body {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1260px){

  .logo {

    img {
      width: 140px;
    }
  }

  .header-wrapper {

    .logo {

      svg {
        width: 140px;
      }
    }

    .item {

      a {
        font-size: 14px;
      }
    }

    .contact {

      a {
        font-size: 18px;
      }
    }
  }

  .banner__slider-item {
    height: 400px;
  }

  .interior {
    padding: 70px 0 70px;

    .title {
      font-size: 1.8rem;
      margin-bottom: 35px;
    }
  }

  .interior__item-content {

    ol {
      font-size: 17px;
    }

    ul {
      font-size: 17px;
    }
  }

  .interior__item-image {

    .image {
      max-width: 47.8%;
    }
  }

  .interior__item.line .interior__item-image {
    justify-content: center;

    .image {
      max-width: 23%;
    }
  }

  .about {
    padding: 70px 0 70px;

    .title {
      font-size: 2rem;
      margin-bottom: 35px;
    }
  }

  .about__content .text {
    font-size: 17px;
  }

  .section__gallery {
    padding: 70px 0 70px;

    .title {
      font-size: 2rem;
      margin-bottom: 35px;
    }
  }

  .gallery__grid {
    justify-content: center;
  }

  .gallery__item {
    max-width: 23%;
  }

  .section__reviews {
    padding: 70px 0 70px;

    .title {
      font-size: 2rem;
      margin-bottom: 35px;
    }

    p {
      font-size: 17px;
      margin-bottom: 0;
    }
  }

  .contacts {
    padding: 70px 0 0;

    .title {
      font-size: 2rem;
      margin-bottom: 35px;
    }

    .description {
      font-size: 18px;
    }
  }

  .contacts__content {
    max-width: 41%;
  }

  #map {
    height: 350px;
  }

  .footer {
    margin-top: 117px;
  }
}

@media screen and (max-width: 1024px){

  .contacts {

    .description {
      font-size: 16px;
    }

    .phone, .email, .address {
      font-size: 16px;
      line-height: 20px;

      svg {
        width: 21px;
      }
    }
  }

  .interior__item-content ol,.interior__item-content ul {
    font-size: 16px;
  }

  .interior__item-content ol {
    margin-bottom: 10px;
  }

  .interior__item-content ul li {

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  .contact {
    display: none;
  }

  .contact__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    background-color: $White;
    border-radius: 100%;
    border: 2px solid #000;
    margin-right: 25px;

    a {
      line-height: 27px;

      svg {
        margin-top: 7px;
      }
    }
  }

  .header-wrapper .list {
    display: none;

    &.active {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      border-radius: 0 0 0 10px;
      max-width: 250px;
      width: 100%;

      .menu__burger-tel {
        width: 100%;
        display: block;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: $primary;
        background-color: rgba(0,0,0,.05);
        padding: 30px 17px;
      }

      > .item {
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 17px;
        margin-right: 0;
      }
    }
  }

  body {
    padding-top: 116px;
  }

  .header {
    padding: 16px 0;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
  }

  .header-wrapper {
    justify-content: flex-end;

    .logo {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      padding: 0 10px 10px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 767px) {

  .banner__slider-item__caption {
    max-width: 400px;
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .slider__content {
    bottom: 70px;
  }

  .about, .interior, .section__gallery, .section__reviews {
    padding: 40px 0;

    .title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
    }
  }

  .banner__slider-item {
    height: 500px;
    background-position: center;

    &.first {
      background-image: url("../img/banner/mobile/photo-1.png") !important;
      background-size: cover;
    }

    &.second {
      background-image: url("../img/banner/mobile/photo-2.png") !important;
      background-size: cover;
    }

    &.third {
      background-image: url("../img/banner/mobile/photo-3.png") !important;
      background-size: cover;
    }

    &.four {
      background-image: url("../img/banner/mobile/photo-4.png") !important;
      background-size: cover;
    }

    &.five {
      background-image: url("../img/banner/mobile/photo-5.png") !important;
      background-size: cover;
    }

    &.sex {
      background-image: url("../img/banner/mobile/photo-6.png") !important;
      background-size: cover;
    }
  }

  .interior__item {
    flex-direction: column;
  }

  .interior__item-content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .interior__item-image {
    max-width: 100%;
    width: 100%;
    justify-content: center;

    .image {
      max-width: 45.8%;
    }
  }

  .interior__item.line .interior__item-image .image {
    max-width: 45.8%;
  }

  .interior .title, .interior__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .contact__mobile {
    margin-right: auto;
  }

  .about__grid {
    flex-direction: column;
    row-gap: 20px;
  }

  .about__content .text {
    max-width: 100%;
  }

  .about__image {
    display: none;
  }

  .about__content .btn {
    max-width: 142px;
    height: 50px;
    margin-top: 15px;
    font-size: 20px;
  }

  .gallery__grid {
    gap: 11px;
  }

  .gallery__item {
    max-width: 48%;
  }

  .section__reviews .btn {
    max-width: 142px;
    height: 50px;
    margin-top: 15px;
    font-size: 18px;
  }

  .contacts__grid {
    display: grid;
    grid-template-areas:  'content'
                          'map';
    grid-template-columns: 100%;
    grid-template-rows: auto;
    flex-direction: column;
  }

  .contacts__content {
    grid-area: content;
    max-width: 100%;
    margin-bottom: 20px;
  }

  #map {
    grid-area: map;
    width: 100%;
    height: 300px;
    position: relative;
    right: auto;
  }

  .contacts {
    padding-top: 40px;

    .title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
    }
  }

  .footer {
    margin-top: 80px;
  }

  .footer__up {
    padding: 40px 0;
  }

  .footer__up-logo__block {
    justify-content: center;
    margin-right: 0;
  }

  .modal {

    .modal-dialog {
      max-width: calc(100% - 16px);
    }

    .modal-title {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .header-wrapper {

    .item {
      position: relative;

      a {

        &:before{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .banner__slider-item .slider__content {
    left: 16px;
  }

  .banner__slider-item.second .slider__content {
    right: 16px;
  }
}